.notes-big-cont {
  width: 100%;
  min-height: 100vh;
  padding-left: 15%;
  background-color: #f0f0f2;
}

.notes-page-content-container {
  width: 100%;
  padding: 3rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1.notes-title {
  font-size: 4rem;
  font-weight: 800;
  color: #30323310;
  -webkit-text-stroke: 0.1vw #3032334d;
  text-shadow: 2px 2px 3px #30323320;
}

.single-notes-container.row {
  width: 100%;
  margin: 2rem;
}

.add-new-note-container.col-lg-2.col-md-4.col-12 {
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.single-add-note {
  background-color: #e7e7eb;
  border-radius: 10px;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 6px 2px #c4c4c5d0;
}

.plus-circle-icon {
  color: #c4c4c5;
  width: 3.5rem;
  height: 3.5rem;
  box-shadow: 0 0 10px 2px #c4c4c5d0;
  border-radius: 50%;
}

.note-container{
  background-color: white;
  border-radius: 10px;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 5px #c3c3c486;
  position: relative;
  padding: 1rem;
  cursor: pointer;
}

.single-note-cont.col-lg-2.col-md-4.col-12 {
  padding: 0.5rem;
  margin: 0.5rem 0;
}

.note-title{
  font-size: 1rem;
  font-weight: 600;
  color: #303233a0;
  margin-bottom: 1rem;
}

.note-text{
  font-size: 0.9rem;
  font-weight: 500;
  color: #30323390;
}

.note-time{
position: absolute;
top: 0.5rem;
right: 0.5rem;
font-size: 0.8rem;
font-weight: 700;
color: #30323350;
}

.plus-circle-icon:hover {
  filter: brightness(90%);
  cursor: pointer;
}

.add-note-text {
  font-weight: 800;
  color: #c0c0c0;
  margin-top: 0.5rem;
}

/* --------------------------------SINGLE NOTE---------------------- */
.single-note-page-container {
  width: 100%;
  padding: 2rem 5rem;
  position: relative;
}

.single-note {
  width: 100%;
  padding: 2rem 5rem;
}

input.single-note-title {
  background-color: transparent;
  border: transparent solid 1px;
  width: 100%;
  font-size: 2.5rem;
  font-weight: 700;
  color: #303233;
  margin-bottom: 3rem;
  word-break: break-world;
}

input.single-note-title:focus-visible {
  outline: transparent
}

.back-icon{
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  position: absolute;
  top: 1.5rem;
  left: 4rem;
  color: #ffffffa0;
  background-color: #d8d8d8;
  cursor: pointer;
}

.delete-note-icon{
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  position: absolute;
  top: 1.5rem;
  right: 4rem;
  color: #f7a072;
  cursor: pointer;
  background-color: #ffffffa0;
}

.add-img-note-icon{
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 1.5rem;
  right: 7.5rem;
  color: #d4d4d4;
  cursor: pointer;
  padding: 0.4rem;
  border-radius: 50%;
  border: solid 1px #30323310;
}

textarea.single-note-text{
  background-color: transparent;
  border: transparent solid 1px;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 500;
  color: #303233d0;
}

textarea.single-note-text:focus-visible {
  outline: transparent
}

.note-img-container{
  width: 100%;
  display: flex;
  align-items: center;
}

img.note-images{
  width: 20rem;
  height: 15rem;
  object-fit: cover;
  margin: 0 0.5rem;
}

.note-modal-img-cont{
  height: 100%;
  width: 100%;
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

img.note-images-modal{
  height: 100%;
  width: auto;
}

.img-arrow-icon{
  color: #f0f0f2be;
  width: 3rem;
  height: 3rem;
}

.img-arrow-icon.left{
  margin-left: 0.5rem;
}

.img-arrow-icon.right{
  margin-right: 0.5rem;
}

.img-arrow-icon:hover{
  color: #f0f0f2;
  cursor: pointer;
}

.delete-img-modal{
  color: #f7a072;
  cursor: pointer;
  margin-left: 1rem;
}


/* ---------------------------------QUERYS--------------------------------- */

@media screen and (max-width: 1000px) {
  .notes-big-cont {
    padding-left: 0;
    padding-bottom: 3rem;
  }

  .notes-page-content-container {
    padding: 4rem 3rem;
  }
}

@media screen and (max-width: 600px) {
  h1.notes-title {
    font-size: 3rem;
    font-weight: 800;
    color: #3032331e;
    -webkit-text-stroke: 0.2vw #3032334d;
    text-shadow: 2px 2px 3px #30323320;
  }

  .notes-page-content-container {
    padding: 4rem 1rem 1rem 1rem;
  }
}
